.con-container{
    display: flex;
    width: 50%;
    background-color: #158247;
    margin: 2% auto 5% auto;
    border-radius: 5px;
}
.up-form{
    margin: 2% auto 2% auto;
}
.up-form input{
    width: 100%;
    margin-top: 2%;
    padding: 0.5% 0 0.5% 2.5%;
    border-radius: 5px;
    border: none;
}
#pdf-input{
    background-color: #fff;
    margin-bottom: 10px;
}