/* Profile section  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#f3efe0
}

.off{
    display:none;
}
.profile{
    display: flex;
    padding-bottom: 5%;
}
.prof_text{
    /* background-color: black; */
    width: 70%;
}
/* user id name */
#userName{
    font-size: 4rem;
}
#userID{
    float: left;
}
#welcomeNotes{
    margin-left: 5%
}
.prof_pic{
    padding: 43px 0px 0 11%;
}
.prof_text h2{
    padding: 5%;
    padding-bottom: 0;
    text-align: left;  
}
.prof_text p{
    text-align: left;
    margin-left: 5%;
}
.prof_pic img{
    border-radius: 100%;
}
/* course section  */
.qbutton {
    background-color: #158247;
    color: white;
    padding: 16px 20px;
    position: relative;
    top: 85%;
    left: 43%;
    border: none;  
    border-radius: 100%;
  }
  .cancel{
     background-color: transparent;
     border: none;
     position: absolute;
     top: 5%;
     left: 71%;
  }
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    width: 100%;
    top: 25%;
    left: 0;
    z-index: 9;
  }
/* Q&a section / */
.qaform{
    margin-left: 25%;
    width: 50%;
    border: 2px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
    padding: 5%;
}
.qaform input, .qsubmit,#qds{
    border: none;
    padding-left: 16px;
    width: 70%;
    height: 2.2rem;
    margin:2% 0 1%  0;
    border: none;
    border-bottom: 1px solid #222222;
    margin-left: 15%;
}
.qsubmit{
    background-color: #158247;
    width: 20%;
    padding: 0;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#qds{
    width: 70%;
    height: 5.2rem;
    margin:2% 0 1%  0;
    margin-left: 15%;
}
#fileUploadForm{
    /* display:none; */
    width:50%;
    height:300px;
    padding:0px;
    background: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 9px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#fileUploadForm button{
    position: absolute;
    width:0px;
}
#fileUploadForm button i{
    position: relative;
    top:0px;
    right:0px;
}
.box-content{
    /* background-color: red; */
    margin: 20px;
    text-align: left;
    border: 2px solid black;
    padding: 20px;
}
#files_container{
    display:flex;   
    border-radius: 5px;
    justify-content: space-around;
    margin-bottom:50px;
    flex-flow:wrap;
    position: relative;
}
.file_box{
    width:20%;
    height:350px;
    margin: 20px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-image: url(./pdfIcon2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:calc(70%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}
.file_box:hover{
    background-color: rgba(0, 0, 0, 0.877);
    
}
.file_box p{
    width:90%;
    font-size: 0.8em;
    margin:0;
}
/* table  */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65%;
    margin: 20px auto 40px auto;
  }
  th{
    background-color: #222222;
    color: #fff;
  }
  td, th {
    border: 1px solid #8f7a7a;
    padding: 8px;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
#dropdown select{
    width: 220px;
    height: 35px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #158247;
    color: #fff;
}
.ssubmit{
    background-color: black;
    color: #fff;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    
}
@media screen and (max-width:1200px){
    .file_box{
        width:40%;
        background-size: 50%;
    }
}
@media screen and (max-width:600px){
     
        .file_box{
            width:60%;
        }
}
/* question section */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
.faq-container{
   max-width: 70%;
   margin: 0 auto;
}
.faq{
   background-color: transparent;
   border: 1px solid #9fa4a8;
   border-radius: 10px;
   margin: 20px 0;
   padding: 30px;
   position: relative;
   overflow: hidden;
   transition: 0.3s ease;
}
.faq.active {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 
   6px rgba(0, 0, 0, 0.1);
}
.faq.active::before, .faq.active::after {
   font-family: 'Font awesome 5 free';
   color: #2ecc71;
   font-size: 7rem;
   position: absolute;
   opacity: 0.2;
   top: 20px;
   left: 20px;
   z-index: 0;
}
.faq.active::before{
   color: #3498db;
   top: -10px;
   left: -30px;
   transform: rotateY(180deg);
}
.faq-title{
   margin: 0 35px 0 0;
}
.faq-text{
   display: none;
   margin: 30px 0 0;
}
.faq.active .faq-text{
   display: block;
}
.faq-toggle{
   background-color: transparent;
   border-radius: 50%;
   border: 0;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   padding: 0;
   position: absolute;
   top: 30px;
   right: 30px;
   width: 30px;
   height: 30px;
}
.faq-toggle:focus{
   outline: none;
}
.faq-toggle .fa-times {
   display: none;
}
.faq.active .faq-toggle .fa-times {
   display: block;
   color: white;
}
.faq.active .faq-toggle .fa-chevron-down{
   display: none;
}
.faq.active .faq-toggle {
   background-color: #9fa4a8;
}