.profile{
    display: flex;
    height: 15rem;
}
.prof_text{
    /* background-color: black; */
    width: 70%;

}
.prof_pic{
    padding: 43px 0px 0 11%;
}
.prof_text h2{
    /* color: white; */
    padding: 3%;
    padding-bottom: 0;
    text-align: left;
    
}
.prof_pic img{
    border-radius: 100%;
   
    
}
