body{
    background-color:#ffffff;
    font-family: 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;
  }
  
.pageName{
    margin-left: 2%;
}
.navbar{
    background-color:#047a3bed;
}
.nav-link{
  color: #ffffff;
}
.collapse{
    margin-right: 2%;
}
h1{
    color: #222222;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
h2{
    text-align: center;
    /* padding: 3% 15%; */
    color: #222222;
    font-family: 'Poppins', sans-serif;
    size: 100%;
}

#Top{
    text-align: center;
}

.Top-button{
    margin: 3%;
}

.Top-head{
  background-image: linear-gradient(to bottom, #e2f6ebed, rgba(198, 222, 241, 0.5)),url('https://2.bp.blogspot.com/-6VCLfbJEK74/W17uqWhMKvI/AAAAAAAAHDM/qua0Qf3kUfE3vXKCvR5j-OOKGQMi7C_xACLcBGAs/s1600/University%2BPolytechnic%252C%2BJamia%2BMillia%2BIslamia%252C%2BBy%2BMohsin%2BJaved%2B%25282%2529.jpg');
  padding: 15% 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    background-blend-mode: normal;
}
.map_section h2, p {
  text-align: left;
  padding-left: 2%;
  margin-left: 1%;
}
.map-text{
  padding: 3% 5%;
}
.maps{
  padding: 2%;
}

/* explore */
#explore{
  padding: 2%;
  text-align: left;
}
.about-jmi{
  text-align: left;
}
.abt-jmi{
  text-align: justify;
  padding: 0;
  margin: 0;
}

#footer{
    background-color: #047a3bed;
    text-align: center;
    padding: 2% 2%;
}
.social-icon{
    margin-top: 5%;
    margin-left: 2%;
}
.copyright{
    padding: 3%;
}

/* About CSS */
    
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 25%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }
    
    .about-section {
      padding: 50px;
      text-align: center;
      background-color: rgb(77, 80, 76);
      color: white;
    }

    .aboutHead{
        color: #f3efe0;
    }

    .abh{
        color: #f3efe0;
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    .button:hover {
      background-color: #555;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
